<div class="jumbotron text-center">
    <div class="container">
    <div class="panel row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="text-center" style="margin-top:10px;">
                <div class="col-md-10">

                    <h2>404 Not Found</h2>
                    <p>Sorry, an error has occured, Requested page not found!</p>
                    <div class="error-actions">
                        <a href="/#" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</div>