<div class="jumbotron text-center comments">
  <div class=" container well">
    <div class="btn-group btn-breadcrumb breacrmb">
        <a href="#/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="" class="btn btn-default" ng-click="showThisCategory(currentInformation[0].category)" ng-bind="currentInformation[0].category"></a>
        <a href="" class="btn btn-default" ng-bind="currentInformation[0].title"></a>
    </div>

    <div class="container">
        <div class="col-md-9">

            <div class="panel panel-white post panel-shadow">
              <div class="post-heading">
                  <div>
                    <a href=""><h4 class=""><b ng-bind="currentInformation[0].title"></b></h4></a>
                  </div>
              </div> 
              <hr class="margin-bottom">
              <div class="">            
                <div class="col-md-8 post-description text-center"> 
                  <p></p><br>
                  <p class="lineHeight">Description: <span ng-bind="currentInformation[0].fileType"></span></p>
                  <p>File size: <span ng-bind="currentInformation[0].file.size"></span>Bytes.</p>
                  <p>Posted by: <span ng-bind="currentInformation[0].contributor"></span></p>
                  <p>Posted on <span ng-bind="currentInformation[0].registered | date:'fullDate'"></span></p>
                  <p>Resource link: <a ng-hide="noResourceLink" class="lineHeight" href="{{currentInformation[0].resourceLink}}" target="_blank"><span ng-bind="currentInformation[0].resourceLink" class="text-muted"></span></a></p>

                  <div class="stats">
                    <a href="" class="btn btn-default stat-item">
                      <i class="fa fa-thumbs-up icon"></i>Like  
                    </a>
                    <a href="" class="btn btn-default stat-item">
                      <i class="fa fa-comments-o icon"></i>Comments: <span ng-bind="comments.length"></span>
                    </a>                       
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pull-right meta stats side-space ">
                    <br>
                    <a href="" target="_blank" class="btn btn-default stat-item top-space">
                      <i class="fa fa-cloud-download icon side-space"></i>Download File
                    </a><br><br>
                    <a href="/#/fileupload" class="btn btn-default stat-item">
                      <i class="fa fa-cloud-upload icon side-space"></i>Upload a File
                    </a>                        
                  </div>
                </div>
              </div> 
                <div class="clear"></div>
                <div class="post-footer">
                    <h5>Leave a comment.</h5>
                    <input type="text" ng-model="commenter" class="form-control username" placeholder="Enter username" ng-focus="hideNotifications()"><br>
                    <div class="input-group "> 
                      
                        <input class="form-control" placeholder="Add a comment" type="text" ng-model="comment" ng-focus="hideNotifications()">
                        <span class="input-group-addon" ng-click="addComment()">
                          <a href=""><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                    <h6 ng-show="commentPosted" class="text-success"> Your comment has been added..</h6>
                    <h6 ng-show="emptyComment" class="text-warning"> Please enter a comment.</h6>
                    <br>
                    <p>Comments</p>
                    <ul class="list-group">
                      <li class="list-group-item panel"></li>
                      <li class="list-group-item panel" ng-repeat="comment in comments | orderBy:'commentedOn': true">
                        <p>@<span ng-bind="comment.commentBy"></span> thinks:</p>
                        <small ng-bind="comment.comment"></small><br>
                        <small class="text-muted time pull-right" >{{comment.commentedOn | date:"MM/dd/yyyy 'at' h:mma"}}</small>
                        <p></p>
                      </li>

                    </ul>
                   
                </div>
            </div>
        </div>
    <div class="col-md-3">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          <a class="list-group-item is-menu active" id="tab-preview">
            <span class="glyphicon glyphicon-play-circle"></span>
            Related resources 2     
          </a>
          <a href="" id="tab-css" class="list-group-item is-menu" ng-click="updateCurrent(currentResource._id)" ng-repeat="currentResource in relatedResources" ng-bind="currentResource.title">
          </a>                  
            </div>
        </div>
    </div>

    </div>
  </div>

</div>